<header class="header">

    <a class="logo">Employee <span>Management</span> System</a>
 
    <nav class="navbar">
       <a routerLink="employees" routerLinkActive="Active" class="nav-link">Employee List</a>
       <a routerLink="create-employee" routerLinkActive="Active" class="btn btn-info" style="color: white;">Add Employee</a>
    </nav>

 </header>


<div class="container">
    <router-outlet></router-outlet>
</div>

<section class="footer">

    <div class="credit"> created by <span>Roger Saquilayan</span> | all rights reserved! </div>
   
 </section>