h3 {
    padding-bottom: 2rem;
    width: 100%;
    text-align: center;
    color: var(--orange);
    font-size: 2.6rem;
}

.btn {
    /* background-color: var(--orange); */
    border: none;
    height: 3rem;
    width: 7rem;
    font-size: 1.3rem;
}
