<div class="col-md-6 offset-md-3">
    <h3> Create Employee </h3>
    <form #form="ngForm" (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> First Name</label>
            <input required #firstName="ngModel" type="text" class ="form-control" id = "firstName"
                [(ngModel)] = "employee.firstName" name = "firstName" >
                <span *ngIf="firstName.invalid && firstName.touched" class="error" style="color: red;">Name Field is required</span>
        </div>
    
        <div class="form-group">
            <label> Last Name</label>
            <input required #lastName="ngModel" type="text" class ="form-control" id = "lastName"
                [(ngModel)] = "employee.lastName" name = "lastName" >
                <span *ngIf="lastName.invalid && lastName.touched" class="error" style="color: red;">Name Field is required</span>
        </div>
    
        <div class="form-group">
            <label> Email Id</label>
            <input required email  #email="ngModel" ngModel Class="form-control" type="email" class ="form-control" id = "emailId"
                [(ngModel)] = "employee.emailId" name = "emailId" >
                <span *ngIf="email.invalid && email.touched" class="error" style="color: red;">Invalid Email</span>
        </div>
    
        <button [disabled]="form.invalid" class = "btn btn-success" type ="submit">Submit</button>
    </form>
    </div> 